<launch>
    <!-- Turtlebot Args -->
    <arg name="model" default="burger"/>
    <env name="TURTLEBOT3_MODEL" value="$(arg model)"/>

    <!-- Display Image visualization -->
    <param name="turtlebot_visualization" value="True" />

    <node pkg="fpv_robotics" type="camera_publisher.py" name="camera_publisher" output="screen" />
    <node pkg="fpv_robotics" type="turtlebot_detector.py" name="turtlebot_detector" output="screen" />

</launch>