<launch>
    <!-- Turtlebot Args -->
    <arg name="model" default="burger"/>
    <env name="TURTLEBOT3_MODEL" value="$(arg model)"/>

    <!-- Camera Publisher -->
    <node pkg="fpv_robotics" type="camera_publisher.py" name="camera_publisher" output="screen" />


    <!-- Object Detection Nodes -->
    <node pkg="fpv_robotics" type="turtlebot_detector.py" name="turtlebot_detector" output="screen" />
    <node pkg="fpv_robotics" type="goal_finder.py" name="goal_finder" output="screen" />
    <node pkg="fpv_robotics" type="turtlebot_orientation.py" name="turtlebot_orientation" output="screen" />


    <!-- Controller Node -->
    <node pkg="fpv_robotics" type="turtlebot_controler.py" name="turtlebot_controller" output="screen" />

    <!-- Visualization Node -->
    <node pkg="fpv_robotics" type="visualizer.py" name="visualizer" output="screen" />


</launch>